@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
  @apply bg-lb-dark text-white antialiased;
  margin: 0;
  font-family: 'Inter', sans-serif;
} */

body {
  margin: 0;
  background-color: 0#0f172a;
  color: white;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}
